<?xml version="1.0" encoding="utf-8"?>
<uexplugins>

    <plugin
        className="org.zywx.wbpalmstar.plugin.inputtextfieldview.EUExInputTextFieldView" uexName="uexInputTextFieldView" >
        <method name="open" />
        <method name="close" />
        <method name="onCommit" />
        <method name="getInputBarHeight" />
        <method name="setInputFocused"/>
    </plugin>

</uexplugins>